@model XNuvem.Vendas.DomainModels.BusinessPartner
<section class="content-header">
    <h1>Cliente <small>Detalhes de cliente</small></h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">@Model.CardCode - @Model.CardName<small>Nome fantasia: @Model.CardFName</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <strong class="text-blue">Dados complementares</strong>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Grupo:</th>
                                    <td>@Model.GroupName</td>
                                </tr>
                                <tr>
                                    <th>Telefone:</th>
                                    <td>( @Model.Phone2 ) @Model.Phone1</td>
                                </tr>
                                <tr>
                                    <th>Celular:</th>
                                    <td>@Model.Cellular</td>
                                </tr>
                                <tr>
                                    <th>Fax:</th>
                                    <td>@Model.Fax</td>
                                </tr>
                                <tr>
                                    <th>E-mail:</th>
                                    <td>@Model.E_Mail</td>
                                </tr>
                                <tr>
                                    <th>Situação:</th>
                                    <td>@(Model.ValidFor == "Y" ? "Ativo" : "Inativo")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <strong class="text-blue">Dados financeiros</strong>
                    <div class="table-responsive overlay-wrapper">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Detalhes:</th>
                                    <td><a id="FinDetail" class="btn btn-flat btn-default btn-xs" href="@Url.Action("Receivables", "Customer", new { area = "XNuvem.Vendas", id=Model.CardCode })" title="Detalhes financeiros"><i class="fa fa-arrow-right text-orange"></i></a></td>
                                </tr>
                                <tr>
                                    <th>Saldo da conta:</th>
                                    <td>@Model.Balance.ToString("C")</td>
                                </tr>
                                <tr>
                                    <th>Pedidos:</th>
                                    <td>@Model.OrdersBal.ToString("C")</td>
                                </tr>
                                <tr>
                                    <th>Cheques:</th>
                                    <td>@Model.ChecksBal.ToString("C")</td>
                                </tr>
                                <tr>
                                    <th>Representante:</th>
                                    <td>@Model.SlpName</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="overlay" style="display: none;">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <p><strong class="text-blue">Endereços</strong></p>            
            <div class="row">
            @foreach (var address in Model.Address) {
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Tipo:</th>
                                    <td><strong>@address.Address</strong></td>
                                </tr>
                                <tr>
                                    <th>Endereço:</th>
                                    <td>@address.Street, @address.StreetNo</td>
                                </tr>
                                <tr>
                                    <th>Complemento:</th>
                                    <td>@address.Building</td>
                                </tr>
                                <tr>
                                    <th>Bairro:</th>
                                    <td>@address.Block</td>
                                </tr>
                                <tr>
                                    <th>Cidade:</th>
                                    <td>@address.City - @address.State</td>
                                </tr>
                                <tr>
                                    <th>Município:</th>
                                    <td>@address.CountyName</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            </div>
            <p><strong class="text-blue">Condição e formas de pagamento</strong></p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Condição de pagamento:</th>
                                    <td>@Model.PymntGroup</td>
                                </tr>
                                <tr>
                                    <th>Lista de preço:</th>
                                    <td>@Model.ListName</td>
                                </tr>
                                <tr>
                                    <th>Limite de crédito:</th>
                                    <td>@Model.CreditLine.ToString("C")</td>
                                </tr>
                                <tr>
                                    <th>Limite de compromisso:</th>
                                    <td>@Model.DebtLine.ToString("C")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                @foreach (var method in Model.PayMethods) {
                                <tr>
                                    <th>Forma de pagamento:</th>
                                    <td>
                                        @if(method.PymCode == Model.PymCode) {
                                        <strong>@method.PymCode</strong>
                                        }
                                        else {
                                            @method.PymCode
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("List", "Customer", new { area = "XNuvem.Vendas" })" class="btn btn-primary" title="Voltar para listagem">Voltar</a>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        $(function () {
            $("#FinDetail").click(function (e) {
                e.preventDefault();
                var that = $(this);
                var urlAjax = that.attr("href");
                var overlay = that.parents(".overlay-wrapper").find(".overlay");
                overlay.fadeIn('fast');
                $.ajax({ method: 'GET', url: urlAjax })
                    .done(function (data) {
                        overlay.hide();
                        if (data.IsError) {
                            XNuvem.statusMessage.showError("Error", data.Messages.join(". "));
                        } else {
                            
                            var b = $('<tbody>');
                            $(data).each(function (i, o) {
                                var r = $('<tr>');
                                r.append('<td>' + o.DocType + '</td>');
                                r.append('<td>' + o.DocNum + '</td>');
                                r.append('<td>' + XNuvem.formatDate(o.DueDate) + '</td>');
                                r.append('<td>' + XNuvem.formatCurrency(o.DocTotal) + '</td>');
                                b.append(r);
                            });

                            var m = $('<table class="table" />');
                            var ms = $('<div class="responsible-table xnuvem-message" />');
                            m.append('<thead><th>Tipo</th><th>Documento</th><th>Vencimento</th><th>Valor</th></thead>');
                            m.append(b);
                            ms.append(m);
                            XNuvem.messageBox.showInfo("Pendências", ms.wrapAll('<div>').parent().html());
                        }
                    }).fail(function (xhr) {
                        overlay.hide();
                        if (xhr.responseText) {
                            XNuvem.statusMessage.showError("Erro!", xhr.responseText);
                        } else {
                            XNuvem.statusMessage.showError("Erro!", "Não foi possível conectar com o servidor.");
                        }
                });
            });
        });
    </script>
}
