@model XNuvem.Vendas.Models.UsageViewModel
@using XNuvem.Mvc.Html

<section class="content-header">
    <h1>Utilização</h1>
</section>

<section class="content">
    @using (Html.XNBeginForm("Usage", "SettingsCompany", "XNuvem.Vendas")) {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="box">
                    <div class="box-body">
                        @Html.HiddenFor(m => m.Id, new Dictionary<string, object> { { "data-xn-clear", "Id" } })
                        @Html.EditorFor(m => m.Name)
                        @Html.XNAjaxDropDownFor(m => m.Usage, "Select2Usage", "SettingsCompany", "XNuvem.Vendas", (Model != null ? Model.UsageText : null))
                        @Html.HiddenFor(m => m.UsageText)
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" title="Salvar" data-xn-save>Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    <script>
        $("#Usage").select2().on("select2:select", function (e) {
            if (e.params && e.params.data) {
                $("#UsageText").val(e.params.data.text);
            }
        });
    </script>
}