<section class="content-header">
    <h1>Lista de Metas de Produção</h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <table data-xn-dt
                   data-xn-key="AbsEntry"
                   data-xn-columns="Name,ManhaPacotes,ManhaVendas,TardePacotes,TardeVendas,NoitePacotes,NoiteVendas"
                   data-xn-orderable="Name,UsageText"
                   data-xn-show-select="true"
                   data-xn-url="@Url.Action("MetaProducaoList", "Config", new { area = "XNuvem.Producao" })"
                   data-xn-link="Name:@Url.Action("MetaProducaoEdit", "Config", new { area = "XNuvem.Producao" })/{AbsEntry}"
                   data-xn-url-add="@Url.Action("MetaProducaoEdit", "Config", new { area = "XNuvem.Producao" })"
                   data-xn-url-delete="@Url.Action("MetaProducaoDelete", "Config", new { area = "XNuvem.Producao" })"
                   class="table table-bordered table-hover nowrap"
                   style="width: 100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Pacotes (Manhã)</th>
                        <th>Vendas (Manhã)</th>
                        <th>Pacotes (Tarde)</th>
                        <th>Vendas (Tarde)</th>
                        <th>Pacotes (Noite)</th>
                        <th>Vendas (Noite)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section HeaderContent {
    @Styles.Render("~/css/dataTable")
}

@section PreScripts {
    @Scripts.Render("~/js/dataTable")
}