@model XNuvem.Producao.Models.ProdutividadeViewModel
@using XNuvem.Mvc.Html
@using XNuvem.Producao.Models

<section class="content-header">
    <h1>Relatório de produção - WEB</h1>
</section>

<section class="content">
    @using (Html.XNBeginForm("ProducaoWeb", "Report", "XNuvem.Producao")) {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.EditorFor(m => m.FromDate)
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(m => m.ToDate)
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" title="Executar">Executar</button>
                    </div>
                </div>
            </div>
        </div>
        if (Model != null && Model.Items != null) { 
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Família</th>
                                    <th>Turno</th>
                                    <th>Grupo</th>                                    
                                    <th class="text-right">FD/CX</th>
                                    <th class="text-right">PCT/UN</th>
                                    <th class="text-right">KG</th>
                                    <th class="text-right">R$(Vendas)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @PrintGeral(Model)
                                @PrintLines(Model)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                }
    }
</section>

@helper PrintGeral(ProdutividadeViewModel item) {
    <tr>
        <td><strong>GERAL</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="text-right"><strong>@item.Geral.Quantity</strong></td>
        <td class="text-right"><strong>@item.Geral.TotalPacotes</strong></td>
        <td class="text-right"><strong>@item.Geral.TotalKilo</strong></td>
        <td class="text-right"><strong>@(string.Format("{0:C}", item.Geral.TotalVendas))</strong></td>    
    </tr>
}

@helper PrintFamilia(ProdutividadeFamiliaItem item) {
    <tr>
        <td><strong>@item.Familia</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="text-right"><strong>@item.Quantity</strong></td>
        <td class="text-right"><strong>@item.TotalPacotes</strong></td>
        <td class="text-right"><strong>@item.TotalKilo</strong></td>
        <td class="text-right"><strong>@(string.Format("{0:C}", item.TotalVendas))</strong></td>
    </tr>
    foreach (var t in item.Items) {
        @PrintTurno(t)
    }
}

@helper PrintTurno(ProdutividadeTurnoItem item) {
    <tr>
        <td><strong>@item.Familia</strong></td>
        <td><strong>@item.Turno</strong></td>
        <td>&nbsp;</td>
        <td class="text-right"><strong>@item.Quantity</strong></td>
        <td class="text-right"><strong>@item.TotalPacotes</strong></td>
        <td class="text-right"><strong>@item.TotalKilo</strong></td>
        <td class="text-right"><strong>@(string.Format("{0:C}", item.TotalVendas))</strong></td>
    </tr>
    foreach (var i in item.Items) {
        @PrintItem(i)
    }
}

@helper PrintItem(ProdutividadeItemViewModel item) {
    <tr>
        <td>&nbsp;</td>
        <td>@item.Turno</td>
        <td>@item.Grupo</td>
        <td class="text-right">@item.Quantity</td>
        <td class="text-right">@item.TotalPacotes</td>
        <td class="text-right">@item.TotalKilo</td>
        <td class="text-right">@(string.Format("{0:C}", item.TotalVendas))</td>
    </tr>
}

@helper PrintLines(ProdutividadeViewModel item) {
    foreach (var f in item.Familias) {
        @PrintFamilia(f)
    }
}