
<section class="content-header">
    <h1>Lista de pedidos</h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="xn_toolbar">
                <a href="@Url.Action("Create", "Order", new { area="XNuvem.Vendas" })" class="btn btn-app btn-success" title="Adicionar um novo item"><i class="fa fa-plus-square text-success"></i> Adicionar</a>
                <a id="DeleteButton" href="@Url.Action("Delete", "Order", new { area="XNuvem.Vendas" })" class="btn btn-app btn-default" title="Excluir itens selecionados"><i class="fa fa-times-circle text-danger"></i> Excluir</a>
                <a id="ConfirmButton" href="@Url.Action("ProcessOrder", "Order", new { area = "XNuvem.Vendas" })" class="btn btn-app btn-default" title="Confirmar itens selecionados"><i class="fa fa-check text-success"></i> Confirmar</a>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="callout bg-gray">
                        <strong>Legenda:</strong>
                        <span class="text-red margin" title="Não aprovado"><i class="fa fa-close"></i> - Não Aprovado</span>
                        <span class="text-red margin" title="Cancelado"><i class="fa fa-ban"></i> - Cancelado</span>
                        <span class="text-yellow margin" title="Não confirmado"><i class="fa fa-minus-circle"></i> - Não confirmado</span>
                        <span class="text-success margin" title="Confirmado"><i class="fa fa-check"></i> - Confirmado</span>
                        <span class="text-blue margin" title="Faturado"><i class="fa fa-truck"></i> - Faturado</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="StatusFilter">Status</label>
                        <select id="StatusFilter" class="select2 form-control" data-xn-select2>
                            <option value="-1" selected>Todos</option>
                            <option value="N">Não aprovados</option>
                            <option value="NW">Não confirmados</option>
                            <option value="NO">Confirmados</option>
                            <option value="NC">Faturados</option>
                            <option value="Y">Cancelados</option>
                        </select>
                    </div>
                </div>
            </div>
            <table id="OrderList" data-xn-dt-order
                   data-xn-url="@Url.Action("List", "Order", new { area = "XNuvem.Vendas" })"
                   data-xn-link="@Url.Action("Edit", "Order", new { area = "XNuvem.Vendas" })/{iDocEntry}"
                   class="table table-bordered table-hover nowrap"
                   style="width: 100%;display: none;">
                <thead>
                    <tr>
                        <th><input id="CheckAll" type="checkbox" /></th>
                        <th>Nº documento<br /><span class="text-blue">(Nº SAP)</span></th>
                        <th>Nº SAP</th>
                        <th>Data</th>
                        <th>Rota</th>
                        <th>Cliente</th>
                        <th>Nome do cliente</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Data string</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="total-wrapper" style="display: none;">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="DisplayTotal">R$0,00</h3>
                <p>Total de pedidos</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</section>

@section HeaderContent {
    @Styles.Render("~/css/dataTable")
}

@section PreScripts {
<script>
    var statusDetailUrl = '@Url.Action("StatusDetail", "Order", new { area = "XNuvem.Vendas" })'
</script>
<script src="~/Content/plugins/datatables-1.10/datatables.min.js"></script>
<script src="~/Content/plugins/datatables-1.10/Responsive-2.0.2/js/dataTables.responsive.min.js"></script>
<script src="~/Content/plugins/datatables-1.10/Responsive-2.0.2/js/responsive.bootstrap.min.js"></script>
<script src="~/Modules/XNuvem.Vendas/Scripts/xnuvem-order-list-1.0.1.js"></script>
}



